.container {
  max-width: 960px;
}
h1, h2, h3, .center {
  text-align: center;
}

#crystalTotal, #userTotal, #wins, #losses {
  text-align: center;
  font-size: x-large;
}
div#crystalsContainer {
  padding: 1em 2em;
}
img.crystal {
  width: 22%;
  margin: 0 1.3rem;
  cursor: pointer;
}









/*
TODO: make responsive. in HTML add col-sm-6 or equiv for 2 crystals per line on smaller devices.

TODO: in html also put targetscore & userscore divs in same row and wins & losses in same row 50% each, using col-md-6
 */