@import url('https://fonts.googleapis.com/css?family=Work+Sans:500');

/* global style */
body {
  font-family: 'Work Sans', Helvetica, sans-serif;
  background:
      linear-gradient(
          rgba(0, 0, 0, 0.1),
          rgba(0, 0, 0, 0.1)
      ),
      url("../images/bg.jpg");
  position: relative;
  float: left;
  width: 100%;
  height: 100vh;


}
h1, h2, h3 {
  text-align: center;
}
h1 {
  margin: 0;
  padding: 1.25rem 0;
  font-weight: bold;
}
h3 {
  font-weight: bold;
  text-decoration: underline;
}
p {
  text-align: center;
  margin-bottom: 0.1rem;
  font-size: large;
}

/* global classes */
p.big-font {
  font-size: xx-large;
  padding: 1em 0;
}
.container {
  max-width: 960px;
}

/* header */
header {
  margin-top: 2rem;
}
header.container {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.95);

}

/* main */
main.container {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0 0 12px 12px;
  padding-bottom: 3rem;
}

main p {
  font-weight: bold;
}

/* div ids */
div#crystalsContainer {
  padding: 1em 2em;
}
#crystalTotal, #userTotal, #wins, #losses {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}
/* imgs */
img.crystal {
  width: 22%;
  margin: 0 1.3rem;
  cursor: pointer;
  border: black 0.375rem solid;
  border-radius: 6px;
}


